span {
    background-color: palevioletred;
    border: 1px solid black;
    width: 500px;
    padding: 10px;
    display: inline-block;
}

h1 {
    background-color: paleturquoise;
    width: 500px;
    height: 80px;
    padding: 10px;
    margin: 25px;
}